@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  color: green;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dedddd;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0cbcb;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aeacac;
}
